body, button, input, textarea, {
  font-family: Helvetica Neue;
  font-size: 70px;
  font-weight: 300;
}

body {
  background-image:url("https://cdn.pixabay.com/photo/2018/03/04/09/51/space-3197611__480.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
