<div id='add_page'>

  <div id='post_property_link'>
    <a href="/spaces">Book a Space</a>
    </div>

<form action="/spaces/new" id="new_space" method="POST">
    <div class='form_container_middle'>

      <input type="text" name="space_name" placeholder="Name of property">
      <input type="text" name="price_per_night" placeholder="Price per night (£)">

      <div id="form_container_property_description">
        <textarea id="property_description_text_area" rows="12" cols="44" placeholder="Property description ..."></textarea>

      <div id='form_container_availability'>
        <label for="available_from">Available from:</label>
          <input type="date" id="available_from" name="available_from">
        <label for="available_to">&nbsp&nbsp&nbsp&nbspAvailable to:</label>
          <input type="date" id="available_to" name="available_to">
      </div>


        <div id="form_container_list_property">
        <input type="submit" value="List my space">
        </div>

    </div>
  </form>
</div>
