<!DOCTYPE html>

    <form style="text-align:right" action="/spaces" method="get">
      <input type="submit" value="Book a Space">
    </form>
    <h2 style="text-align:center;"> List a Space </h2>
    <form action="/spaces/new" method="post">
      <div>
        <label for="space_name">
          Name
          <input type="text" name="space_name">
        </label></div>
      <div>
        <label for="price_per_night">
          Price per night (£)
          <input type="text" name="price_per_night">
        </label></div>
      <div>
        <label for="space_description">
          Description<br>
          <textarea rows="8" cols="100"></textarea>
        </label></div>
        <div>
          <form>
              <td style="vertical-align:left">
              <label for="available_from">Available from:</label>
              <input type="date" id="available_from" name="available_from">
          </form>
          <form>
            <label for="available_to">&nbsp&nbsp&nbsp&nbspAvailable to:</label>
            <input type="date" id="available_to" name="available_to"></>
          </form>
      </div>
      <div style="text-align:center">
        <input type="submit" value="List my Space">
      </div>
    </form>
