<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>MAKERS 5 BNB</title>
    <meta charset="utf-8"/>

    <style>
      body {
        background-image: url('http://localhost:9292/images/bg-image.jpg');
        /* background-position: center; */
        background-repeat: no-repeat;
        background-size: cover;
      }
      body, button, input, textarea, {
        font-family: Helvetica Neue;
        font-size: 70px;
        font-weight: 300;
      }
    </style>
  </head>
  <body>
      <%= yield %>

  </body>
</html>
