<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>MAKERS 5 BNB</title>
    <meta charset="utf-8"/>
    
    <style>
      body, button, input, textarea, {
        font-family: Helvetica Neue;
        font-size: 70px;
        font-weight: 300;
      }

      body {
        background-image: url('bg-image.jpg'); 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

    </style>
  </head>
  <body>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
