<div id='login_page'>
  <div id='login_page_wrapper'>
    <div id="login_wrapper">
      <form action="/login" method="POST">
        <input type="text" name="email" placeholder="Email " />
        <input type="password" name="password" placeholder="Password" />
        <div class='submit_wrapper'>
        <input type="submit" value="Log in" />
        </div>
      </form>
      <form action="/register">
        <div class='submit_wrapper'>
          <input type="submit" value="Register" />
        </div>
      </form>
    </div>
  </div>
</div>
<% if @error_message %>
  <div id="error_message" style="border: 2px solid green;">
  <%= @error_message %>
  </div>
<% end %>
