<div id='register_page'>
  <div class='form_container_middle'>
    
    <form action="/register" method="POST">
      <input type="text" name="name" placeholder="Name" />
      <input type="text" name="Username" placeholder="User Name" />
      <input type="text" name="Email" placeholder="Email" />
      <input type="text" name="Password" placeholder="Password" />
    <div id='submit_container'>
      <input type="submit" value="Register" />
    </div>
    </form>
  </div>
</div>
