<html>
    <body> places
<% @spaces.each do |space| %>
    <div id="space_container">
        <%= space.property_name %>
        <br />
        <%= space.property_description %>
        <br />
        <%= space.get_formatted_price %>
    </div>
<% end %>
    </body>

</html>
