<% @spaces.each do |space| %>
    <span id="space_container">
        <%= space.property_name %>
        <br />
        <%= space.property_description %>
        <br />
        <%= space.get_formatted_price %>
        <br />
        <%= space.property_owner.email %>
    </span>
<% end %>
<form action="/space/add">
  <input type="Submit" name="Add a space" value="Add a space">
</form>
