      body {
        background-image: url('../images/bg-image.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      body, button, input, textarea, {
        font-family: Helvetica Neue;
        font-size: 70px;
        font-weight: 300;
      }
