* {
margin: 0;
padding: 0;
font-family: 'Slabo', serif;
}

html, body {
    height:100%;
    width: 100%;
}

body {
  background-image: url('../images/bg-image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  align-items: center;
  justify-content: center;
}

#register_page {
display: flex;
flex-wrap: wrap;
flex-direction:column;
width:35%;
color:black;
padding:10px;
}

.form_container_middle{
display: flex;
flex-wrap: wrap;
flex-direction:column;
width:100%;
color:black;
}

form {
display: flex;
flex-wrap: wrap;
flex-direction:column;
border: 2px solid;
border-color: rgba(	72, 72, 72, 0.1);
background-color:rgba(128,128,0,0.5);
border-radius: 10px;
}

#register_page #register_title{
  font-size:40px;
  background-color:white;
  padding: 5px;
  font-weight:normal;
  text-align: center;
}

#register_page .form_container_middle input[type=text] {
  font-size:40px;
  margin: 10px;
  border: 2px solid;
  border-color: rgba(	72, 72, 72, 0.1);
  border-radius: 10px;
  padding:5px;
}

input[type=submit] {
  font-size:40px;
  width:50%;
  border: 2px solid;
  border-radius: 10px;
  margin-bottom: 10px;
  border-color: rgba(	72, 72, 72, 0.1);
}

input[type=submit]:hover {
  cursor: pointer;
}

#submit_container {
  width:100%;
  text-align: center;

}

  #add_page {
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  align-content: center;
  width:34%;
  color:black;
  padding:10px;
}

#add_page .form_container_middle input[type=text] {
  font-size:40px;
  margin: 10px;
  border: 2px solid black;
  border-color: rgba(	72, 72, 72, 0.1);
  border-radius: 10px;
  padding:20px;
}

#add_page #post_property_link {
  width: 20%;
  font-size:15px;
  padding: 5px;
  font-weight:normal;
  text-align: right;
  justify-content: top;
  position:absolute;
  top:0;
  right:0;
}

#add_page #post_property_link a {
  text-decoration: none;
}

#add_page input[type=submit] {
  font-size:20px;
  width:50%;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
  border-color: rgba(	72, 72, 72, 0.1);
}

#add_page input[type=textarea] {
  font-size:20px;
  width:35%;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
  margin: 15px;

}

#add_page #form_container_availability {
  margin: 15px;
}

#add_page #form_container_list_property {
  margin: 15px;
  text-align: center;
  justify-content: center;
}

#add_page #form_container_property_description {
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 20;
  justify-content: center;
}
